<!DOCTYPE html>
<html lang='zh-cn'>
  <head>
    <title>个人博客</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 50px;
        padding-bottom: 0px;
      }
    </style>
  </head>
  <body>
  	<div style="background:url('pictures/background.jpg') no-repeat center top; background-attachment:fixed;background-size: cover;">  		
  		
  		<nav class="navbar navbar-inverse navbar-fixed-top">  			
		  <div class="container" style="padding-top:5px">
		    <ul class="nav nav-pills">
			  <li role="presentation"><a href="index.html">博客首页</a></li>
			  <li role="presentation"><a href="article.html">心路历程</a></li>
			  <li role="presentation"><a href="#">作品展示</a></li>
			  <li role="presentation" class="active"><a href="personaldata.html">个人资料</a></li>
			</ul>
		  </div>
		</nav>
						
	    <div class="container">
		    <div class="row">		    	
		    	<div class="col-lg-8">	
		    	<div class="hero-unit"style="padding:20px">
				        <h1>愿被世界温柔以待</h1>
				        <p>风不能停，停下来就意味着死亡。</p>
				        <p><a href="personaldata.html" class="btn btn-primary btn-large">了解我 »</a></p>
				     </div>					    
		    	</div>
		    	<div class="col-lg-4">
		    		<div style="opacity:0.5;padding-top:20px">		   
		    		<ul class="list-group list-group-item-success ">
					  <li class="list-group-item" >Cras justo odio</li>
					  <li class="list-group-item">Dapibus ac facilisis in</li>
					  <li class="list-group-item">Morbi leo risus</li>
					  <li class="list-group-item">Porta ac consectetur ac</li>
					  <li class="list-group-item">Vestibulum at eros</li>
					</ul>
					</div>
		    	</div>		    
	    </div>
    </div>
    <div class="container">
		    <div class="row">		    	
		    	<div class="col-lg-8">	
		    	<div class="media">
					  <div class="media-left">
					    <a href="#">
					      <img class="media-object" src="pictures/xz.jpg" height="150px" width="150px" alt="西藏之旅">
					    </a>
					  </div>
					  <div class="media-body">
					    <h4 class="media-heading">西藏之旅<small style="color:#423C3C">>>2016-05-11</small></h4>
					    <a href="#" style="color:#3F395D">西藏，一个不敢轻易触碰确又深藏在心念念不忘的名字。西藏，一个永远无法用一个词准确定义的地方。正如我的山东老乡马丽华在她那著名的散文集《走过西藏》中所表达的。西藏：对于未来者，她是令人神往的净土；对于离去者，她是曾经魂牵梦绕的家园；对于久居者，她是一种生活方式；对于过往者，她是珍藏一生的记忆。</a>
					  </div>
					</div>
					<div class="media">
					  <div class="media-left">
					    <a href="#">
					      <img class="media-object" src="pictures/xz.jpg" height="150px" width="150px" alt="西藏之旅">
					    </a>
					  </div>
					  <div class="media-body">
					    <h4 class="media-heading">西藏之旅</h4>
					    <a href="#" style="color:#3F395D">西藏，一个不敢轻易触碰确又深藏在心念念不忘的名字。西藏，一个永远无法用一个词准确定义的地方。正如我的山东老乡马丽华在她那著名的散文集《走过西藏》中所表达的。西藏：对于未来者，她是令人神往的净土；对于离去者，她是曾经魂牵梦绕的家园；对于久居者，她是一种生活方式；对于过往者，她是珍藏一生的记忆。</a>
					  </div>
					</div>
					<div class="media">
					  <div class="media-left">
					    <a href="#" style="color:#3F395D">
					      <img class="media-object" src="pictures/xz.jpg" height="150px" width="150px" alt="西藏之旅">
					    </a>
					  </div>
					  <div class="media-body">
					    <h4 class="media-heading">西藏之旅</h4>
					    <a href="#" style="color:#3F395D">西藏，一个不敢轻易触碰确又深藏在心念念不忘的名字。西藏，一个永远无法用一个词准确定义的地方。正如我的山东老乡马丽华在她那著名的散文集《走过西藏》中所表达的。西藏：对于未来者，她是令人神往的净土；对于离去者，她是曾经魂牵梦绕的家园；对于久居者，她是一种生活方式；对于过往者，她是珍藏一生的记忆。</a>
					  </div>
					</div>
					<div class="media">
					  <div class="media-left">
					    <a href="#">
					      <img class="media-object" src="pictures/xz.jpg" height="150px" width="150px" alt="西藏之旅">
					    </a>
					  </div>
					  <div class="media-body">
					    <h4 class="media-heading">西藏之旅</h4>
					    <a href="#" style="color:#3F395D">西藏，一个不敢轻易触碰确又深藏在心念念不忘的名字。西藏，一个永远无法用一个词准确定义的地方。正如我的山东老乡马丽华在她那著名的散文集《走过西藏》中所表达的。西藏：对于未来者，她是令人神往的净土；对于离去者，她是曾经魂牵梦绕的家园；对于久居者，她是一种生活方式；对于过往者，她是珍藏一生的记忆。</a>
					  </div>
					</div>					    
		    	</div>
		    	
		    	<div class="col-lg-4">
		    		
		    	</div>		    
	    </div>
    </div>
    <div id="footerwrap">
			<div class="container">
				<h4>Created by <a href="http://blacktie.co">BlackTie.co</a> - Copyright 2014</h4>
			</div>
		</div>
    </div>
    
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
